body button{
    margin-left: 80%;
    font-size: 1.5em;
}
section{
    width: 87%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 0.5%;
    margin-top: 2%;          /*Centra la sección en la página */
    margin-left: 5%;
}

section h2{
    flex: 1 1 100%;     
    text-align: center;
    margin-bottom: 2%;     
}

section article{
    flex: 1 1 calc(25% - 4%); 
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 0.5em;*/
    border: 0.2em solid #000000;
    border-radius: 1em;
    background-color: #71bafd;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    height: 18vh;
    margin-bottom: 0.5%;
    
}

article[data-state=flip] {
    transform: rotateY(180deg);
}
article h3{
    text-align: center;
    font-size: 120%;
    font-weight: bolder;
    backface-visibility: hidden;
}

section article img{
    margin: 0;
    position: absolute;
    width: 90%;
    max-height: 90%;                 /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto;                /* Mantiene la proporción de la imagen */
    object-fit: contain;         /* Asegura que la imagen se escale sin perder proporciones */
    display: block;        /* Elimina el espacio extra debajo de la imagen */
    backface-visibility: hidden;

}

article img {
    transform: rotateY(180deg);
}
article h3 {
    transform: rotateY(0deg);
}

article[data-state=flip] {
    transform: rotateY(180deg);
}

article[data-state=revealed] {
    transform: rotateY(180deg);
}

